<h1 style:color="red" align="center">About Us</h1>
<ul>
  <li>
<p style="color:brown;">Hawks Aviation is one of the most India’s largest passenger airlines. We primarily operate in India’s domestic air travel market as a low-cost carrier with focus on our three pillars – offering low fares, being on-time and delivering a courteous and hassle-free experience. IndiGo has become synonymous with being on-time. Since our inception in August 2022, we have grown from a carrier with one plane to a fleet of 279 aircraft today. A uniform fleet for each type of operation, high operational reliability and an award winning service make us one of the most reliable airlines in the world.</p></li>
<li><p style="color:brown;">Hawks Aviation is not only the most efficient low fare operator domestically but is also comparable with global low cost airlines. We are constantly enhancing our engagement with our passengers to augment their travel experience. From multichannel direct sales (including online flight booking, call centers and airport counters), to online flight status checking, an exclusive IndiGo app for Android, we have transformed air travel in India. Today, we are India’s most preferred airline. At IndiGo, low fares come with high quality.</p></li>
</ul>
<br>
<br>
<br>
<div class="row1">
  <div class="column1">
    <figure align="center">
    <img class="photo" src="assets/flight icon.jpg" height="100" />
    <figcaption >50+ Daily flights</figcaption>
    </figure>
    
  </div>
  <div class="column1">
    <figure align="center">
    <img class="photo" src="assets/india icon.jpg" height="100px" />
    <figcaption>30+ Domestic Destinations</figcaption>
    </figure>
  </div>
  <div class="column1">
    <figure align="center">
    <img class="photo" src="assets/earth icon.png" height="100" />
    <figcaption>20+ International Destinations</figcaption>
  </figure>
  </div>
</div>
<!-- <div class="icons">
  <div class="row">
    <div class="p-3 mb-5">
      
      
      
    </div> -->
      
      


<div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title"></h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/Shark.jpeg" height="150px" /><br /><br />
          <h5><b>Gandavarapu Sai Shashank</b></h5>
          <hr />
          
       
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/VTU11033.jpg" height="150px" /><br /><br />
          <h5><b>G Sarath Sai Krishna Babu</b></h5>
          <hr />
          
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/bhanu.jpg" height="150px" /><br /><br />
          <h5><b>Konjeri Bhanu Prakash Reddy</b></h5>
          
            
         
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/manoj.jpeg" height="150px" /><br /><br />
          <h5><b>Netturi Manoj Kumar</b></h5>
          
        </div>
        <div class="devCard col-md-3" style="padding: 5px;"></div>


        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/sample.jpeg" height="150px" /><br /><br />
          <h5><b>Nikhileswara Sri Venkat Muraharirao</b></h5>
         
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/sandeep.PNG" height="150px" /><br /><br />
          <h5><b>Pallamreddy Sandeep Kumar Reddy</b></h5>
         
        </div>
      </div>
    </div>
  </div>