.card{

    border:none;
    width:500px;
    padding:25px;
    transform:translate(80%,0%);
    background:rgb(22, 72, 115);
    margin-bottom: 2.5cm;
    opacity: 80%;
}
body
{
    background-repeat: no-repeat;
    background-size: cover;
}


.card  h1,
h6{
    color:#fff;
}
label{
    color:#fff;
}

.two
{
    display:flex;
    flex-direction:row;
    width:100%;
}
