
<body>
    
    <div class="slider">
        <span style="--i:1"><a href="https://en.wikipedia.org/wiki/Charminar"><img src="assets/charminar.jpeg" alt=""></a></span>
        <span style="--i:2"><a href="https://en.wikipedia.org/wiki/Golden_Temple"><img src="assets/11.jpeg" alt=""></a></span>
        <span style="--i:3"><a href="https://en.wikipedia.org/wiki/Red_Fort"><img src="assets/fort.jpeg" alt=""></a></span>
        <span style="--i:4"><a href="https://en.wikipedia.org/wiki/Taj_Mahal"><img src="assets/taj.jpeg" alt=""></a></span>
        <span style="--i:5"><a href="https://www.planetware.com/asia/best-places-to-visit-in-asia-jpn-1-15.htm"><img src="assets/asia.jpg" alt=""></a></span>
        <span style="--i:6"><a href="https://www.planetware.com/africa/best-places-to-visit-saf-1-36.htm"><img src="assets/africa.jpg" alt=""></a></span>
        <span style="--i:7"><a href="https://www.planetware.com/usa/best-places-to-visit-in-the-united-states-us-ny-21.htm"><img src="assets/USA-INNER-1.jpg" alt=""></a></span>
        <span style="--i:8"><a href="https://www.planetware.com/tourist-attractions/australia-aus.htm"><img src="assets/australia.png" alt=""></a></span>
    </div>
    
</body>
    