<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aliceblue">Booking</h1>
        <div class="col-md-2 text-right">
            <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
        </div>
    </div>
</nav>

<div class="mine">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">BookingID</th>
            <th scope="col">FlightNo</th>
            <th scope="col">CustomerID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Seats</th>
            <th scope="col">BookingAmount</th>
            <th scope="col">Arrival</th>
            <th scope="col">Departure</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{booking.bookingID}}</td>
            <td>{{booking.flightNo}}</td>
            <td>{{booking.customerID}}</td>
            <td>{{customer.firstName}} {{customer.lastName}}</td>
            <td>{{flight.start}}</td>
            <td>{{flight.destination}}</td>
            <td>{{booking.seats}}</td>
            <td>{{booking.bookingAmount}}</td>
            <td>{{booking.arrival}}</td>
            <td>{{booking.departure}}</td>
            <td>{{booking.status}}</td>
        </tr>
    </tbody>
</table>

<div class="box mt-5" id="htmlData">
    <ul class="left">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
    <ul class="right">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="ticket">
      <span class="airline">Hawks Aviation</span>
      <span class="airline airlineslip">Hawks Aviation</span>
      <span class="boarding">Boarding pass</span>
      <div class="content">
        <span class="jfk">{{flight.start}}</span>
        <span class="plane"><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
        <span class="sfo">{{flight.destination}}</span>
        
        <span class="jfk jfkslip">{{flight.start}}</span>
        <span class="plane planeslip"><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
        <span class="sfo sfoslip">{{flight.destination}}</span>
        <div class="sub-content">
          <span class="watermark">Hawks Aviation</span>
          <span class="name">PASSENGER NAME<br><span>{{customer.firstName}} {{customer.lastName}}</span></span>
          <span class="flight">FLIGHT N&deg;<br><span>{{booking.flightNo}}</span></span>
          <span class="gate">BOOKINGID<br><span>{{booking.bookingID}}</span></span>
          <span class="seat">SEATS<br><span>{{booking.seats}}</span></span>
          <span class="boardingtime">BOARDING TIME<br><span>{{booking.arrival}}</span></span>
              
           <span class="flight flightslip">FLIGHT N&deg;<br><span>{{booking.flightNo}}</span></span>
            <span class="seat seatslip">SEATS<br><span>{{booking.seats}}</span></span>
           <span class="name nameslip">PASSENGER NAME<br><span>{{customer.firstName}} {{customer.lastName}}</span></span>
        </div>
      </div>
      <div class="barcode"></div>
      <div class="barcode slip"></div>
    </div>
  </div>
</div>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>


