<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h3 style="color:#fff">Update Admin</h3>
    </div>
</nav>

<div class="container">
    <form [formGroup]="adminForm" (ngSubmit)="updateAdmin(admin.adminId)">
        
        <div class="form-outline mb-4">
            <input type="text" id="firstname" class="form-control" formControlName="firstName" value={{admin.firstName}}/>
            <label class="form-label" for="firstname">FirstName</label>
        </div>
  
        <div class="form-outline mb-4">
            <input type="text" id="lastname" class="form-control" formControlName="lastName" value= {{admin.lastName}}/>
            <label class="form-label" for="lastname">LastName</label>
        </div>  

        <div class="form-outline mb-4">
            <input type="email" id="emailid" class="form-control" formControlName="emailId" value= {{admin.emailId}}/>
            <label class="form-label" for="emailid">EmailId</label>
        </div>
  
        <div class="form-outline mb-4">
            <input type="text" id="role" class="form-control" formControlName="role" value = {{admin.role}}/>
            <label class="form-label" for="role">Role</label>
        </div>
        
        <button routerLink="/adminprofile" type="submit" class="btn btn-primary">Back</button>
        <button type="submit" class="btn btn-primary my-1 float-right">Submit</button>
    </form>
</div>

