<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Update Profile</h1>
                </div>
                <div class="container-fluid">
                  <form [formGroup]="customerForm" (ngSubmit)="Updatecustomer(customer.customerId)">
                    
                    <div class="form-outline mb-4">
                        <input type="text" id="firstName" class="form-control" formControlName="customerId" readonly/>
                        <label class="form-label" for="firstName">FirstName</label>
                        <div *ngIf="f['customerId'].touched && f['customerId'].invalid" class="alert alert-danger">
                          <div *ngIf="f['customerId'].errors && f['customerId'].errors['required']">Age is required.</div>
                      </div>
                    </div>
                    
                    <div class="form-outline mb-4">
                          <input type="text" id="firstName" class="form-control" formControlName="firstName"/>
                          <label class="form-label" for="firstName">FirstName</label>
                          <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                            <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First Name is required.</div>
                            <div *ngIf="f['firstName'].errors && f['firstName'].errors['minlength']">First Name should be more than 3 character.</div>
                            <div *ngIf="f['firstName'].errors && f['firstName'].errors['maxlength']">First Name should be less than 50 character.</div>
                          </div>
                      </div>
                
                      <div class="form-outline mb-4">
                        <input type="text" id="lastName" class="form-control" formControlName="lastName"/>
                        <label class="form-label" for="lastName">LastName</label>
                        <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                          <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last Name is required.</div>
                          <div *ngIf="f['lastName'].errors && f['lastName'].errors['minlength']">Last Name should be more than 3 character.</div>
                          <div *ngIf="f['lastName'].errors && f['lastName'].errors['maxlength']">Last Name should be less than 50 character.</div>
                        </div>
                      </div>
                
                      <div class="form-outline mb-4">
                          <input type="text" id="mobileNumber" class="form-control" formControlName="mobileNumber"/>
                          <label class="form-label" for="mobileNumber">MobileNumber</label>
                          <div *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid" class="alert alert-danger">
                            <div *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['required']">Mobile Number is required.</div>
                            <div *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['minlength']">Mobile Number should be equal to 10 character.</div>
                            <div *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['maxlength']">Mobile Number should be equal to 10 character.</div>
                          </div>
                      </div>  
                
                      <div class="form-outline mb-4">
                          <input type="email" id="emailId" class="form-control" formControlName="emailId" readonly/>
                          <label class="form-label" for="emailId">EmailId</label>
                          <div *ngIf="f['emailId'].touched && f['emailId'].invalid" class="alert alert-danger">
                            <div *ngIf="f['emailId'].errors && f['emailId'].errors['required']">Email is required.</div>
                            <div *ngIf="f['emailId'].errors && f['emailId'].errors['emailId']">Please, enter valid email address.</div>
                            <div *ngIf="f['emailId'].errors && f['emailId'].errors['minlength']">Name should be more than 9 character.</div>
                            <div *ngIf="f['emailId'].errors && f['emailId'].errors['maxlength']">Name should be less than 25 character.</div>
                          </div>
                      </div>
                
                
                      <div class="form-outline mb-4">
                          <input type="number" id="age" class="form-control" formControlName="age"/>
                          <label class="form-label" for="age">Age</label>
                          <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
                            <div *ngIf="f['age'].errors && f['age'].errors['required']">Age is required.</div>
                        </div>
                      </div>
                
                      <div class="form-outline mb-4">
                        <input type="text" id="gender" class="form-control" formControlName="gender"/>
                        <label class="form-label" for="gender">Gender</label>
                        <div *ngIf="f['gender'].touched && f['gender'].invalid" class="alert alert-danger">
                          <div *ngIf="f['gender'].errors && f['gender'].errors['required']">Gender is required.</div>
                      </div>
                      </div>
                
                      <div class="form-outline mb-4">
                        <input type="text" id="username" class="form-control" formControlName="username" readonly/>
                        <label class="form-label" for="username">Username</label>
                        <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
                          <div *ngIf="f['username'].errors && f['username'].errors['required']">UserName is required.</div>
                          <div *ngIf="f['username'].errors && f['username'].errors['minlength']">UserName should be more than 6 character.</div>
                          <div *ngIf="f['username'].errors && f['username'].errors['maxlength']">UserName should be less than 15 character.</div>
                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary my-1">Submit</button>
                  </form><br>
                  <a style="color: #fff;" routerLink="/customerprofile">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>      
  
  