<body>
    <img src="https://img.freepik.com/free-vector/security-background-design_1300-256.jpg?w=360">
<div class="container">
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3>Change Password</h3>
    </div>
    <div class="card-body">
        <form [formGroup]= "PasswordChangeForm" class="form" role="form" (ngSubmit)="ChangePassword()" autocomplete="off">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" formControlName= "username" required="">
            </div>

            <div class="form-group">
                <label for="password">Current Password</label>
                <input type="password" class="form-control" id="password" formControlName="oldPassword" required="">
            </div>

            <div class="form-group">
                <label for="newpassword">New Password</label>
                <input #newpassword type="password" class="form-control" id="newpassword" formControlName="newPassword" required="">
                <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                    </span>
            </div>
            
            <div class="form-group">
                <label for="inputPasswordNewVerify">Verify New Password</label>
                <input type="password" class="form-control" id="inputPasswordNewVerify" formControlName="confirmPassword" required="">
                <span class="form-text small text-muted">
                        To confirm, type the new password again.
                    </span>
            </div>
            <div *ngIf="passwordMatchError" class="alert alert-danger" role="alert">
                Password does not match!!!!!!!
              </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                <button routerLink="/customerprofile" type="submit" class="btn btn-success btn-lg float-left">Back</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>