.container
{

    border:none;
    width:400px;
    transform:translate(40%,-60%);
    color:rgb(109, 3, 72);
    background-color: bisque;
}

.card-body
{
    width:10cm;
}

h3{
    text-align: center;
}

body{
    background-color: beige;
}


img{
    transform:translate(40%,30%);
}
